################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShareRacing/.vs
/ShareRacing/bin/Debug
/ShareRacing/obj
/.vs
