@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class=" logo-bg" style="width: 75px; height: 75px"></div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
